body{
    margin: 0%;
    background-color: none;

}

header nav{
    background-color: rgba(255, 243, 75, 0.589);
    padding-top: none;
    padding-bottom: none;
    padding-left: none;
}

header nav ul{
    float: left;
    padding-right: 90px;
    padding-top: none;
    position: relative;
}

header nav ul li{
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
}

.logo01{
    color: lightgray;
}

.logo02{
    color: lightblue;
}

header nav img{
    position: relative;
    width: 15rem;
    margin-left: 40px;
    float:right;
    margin-right: 70px;
}




